{$DOMAIN} {
    encode gzip

    request_body {
        max_size 25MB
    }

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
    }

    reverse_proxy api:8000
}
